#commandline {
    background-color: #000A12;
    color: #00F2FF;
}
#history {
    background-color: #000A12;
    color: #00F2FF;
    border:#ce9c12 1px solid;
}
#result {
    background-color: #000A12;
    color: #00F2FF;
    border: pink 1px solid;
}
.error {
    color: #e62a2a;
}
.warn {
    color: #ce9c12;
}
body {
    background-color: #1b1b1b;
}

#cmdInput {
    background-color: #000A12;
    color: #00F2FF;
}