#commandline {
    background-color: #121212;
    color: rgb(255, 60, 60);
}
#history {
    background-color: #1b1b1b;
    color: rgb(104, 210, 42);
    border:#ce9c12 1px solid;
}
#result {
    background-color: #212121;
    color: rgb(26, 152, 166);
    border: pink 1px solid;
}
.error {
    color: #e62a2a;
}
.warn {
    color: #ce9c12;
}
body {
    background-color: #1b1b1b;
}

#cmdInput {
    background-color: #242424;
    color: rgb(0, 255, 13);
}